@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #E3F2FD;
}

header {
    background-color: #130e22;
    font-family: 'Roboto', sans-serif;
  }
  header .navbar {
    display: flex;
    justify-content: space-between;
    padding: 0 5rem;
    margin-bottom: 0rem;
  }
  header img {
    width: 9%;
  }
  header .nav-links {
    margin-right: 42rem;
    margin-top: 2.2rem;
    width: 80%;
  }
  header .nav-links a {
    text-decoration: none;
    color: #fff;
    padding-right: 0.5rem;
  }
  header .nav-links a:hover {
    color: #c2bfbf;
    transition: 0.5s;
  }
  header .btn-group {
    margin-top: 2.2rem;
    width: 100%;
  }
  header .btn-group button a{
      text-decoration: none;
      color: #080710;
      font-size: 14px;
      font-weight: 600;
  }
  header .btn-group button {
    width: 35%;
    height: 38px;
    border: none;
    margin-right: 15px;
    background-color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
  }
  header .btn-group button:hover {
    cursor: pointer;
    background-color: #cac6c6;
    transition:0.5s;
    -webkit-transition:0.5s;
    -moz-transition:0.5s;
    -ms-transition:0.5s;
    -o-transition:0.5s;
  }

  header .btn-group button i{
    margin-right: 5px;
  }  
  
.profile-section{
  background-color: #E3F2FD;
  padding: 1rem 2rem;
  font-family: 'Roboto', sans-serif;
}  

.media{
  display: flex;
  justify-content: space-evenly;
  padding: 1.5rem 2rem 0rem 1rem;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(100, 98, 114, 0.6);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  height: 200px;
  width: 55%;
  margin-left: 14.5rem;
}

.media img{
  width: 27%;
  height: 175px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.media-body{
  margin-left: 3rem;
}

.media-body h2{
  font-size: 23px;
  margin: 0.5rem 0rem 0.3rem 0;
}

.media-body h3{
  color: maroon;
  font-size: 20px;
  margin-top: 10px;
}

.media-body p{
  font-size: 17px;
}

form {
  height: 500px;
  width: 600px;
  background-color: rgba(223, 217, 217, 0.329);
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 20px rgba(100, 98, 114, 0.6);
  padding: 30px 35px;
  margin: 3rem auto 2rem auto;
}

form * {
  font-family: 'Poppins', sans-serif;
  color: #080710;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

form h3 {
  font-size: 26px;
  font-weight: 500;
  line-height: 36px;
  text-align: center;
}

label {
  display: block;
  margin-top: 20px;
  font-size: 15px;
  font-weight: 500;
}

input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(89, 88, 88, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 10px;
  font-size: 13px;
  font-weight: 300;
}

.password-sctin{
  display: flex;
  justify-content: space-between;
}

.password-sctin label{
  margin-left: 10px;
  margin-right: 10px;
}

.update-btn {
  margin-top: 30px;
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}


span{
  color: #080710;
  margin-left: 130px;
}

