
.toast {
    display: flex;
    justify-content: space-between;
    background-color: #f7eced;
    border: 1px solid red;
    border-radius: 4px;
    padding: 0.3rem 0.7rem 0.5rem ;
    width: 370px; /* Adjust as needed */
    height: 95px;
    margin: 0.5rem 2rem 0.5rem 1rem;
  }
  
  .toast-body p{
   margin-top: 0px;
   font-size: 16px;
  }
  
  .btn-close {
    align-self: flex-end;
    cursor: pointer;
    border: none;
    background-color: #f7eced;
    width: 30px;
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
  }
  
  .close{
    font-size: 40px;
    color: gray;
    margin: 0;
  }
  
  .close:hover{
    color: #000;
    opacity: 0.7;
  }