<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/login.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/toastsignin.css' %}">
    <link rel="shortcut icon" href="{% static 'skycastfavicon-removebg-preview.webp' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Password reset - SkyCast</title>
</head>
<body>

      <!-- displaying error messages -->

      {% for error in form.new_password1.errors %}
      <div class="toast alert">
          <div class="toast-body">
              <p><em>Message:</em> {{ error }}</p>
          </div>
          <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close" onclick="closeToast(this)">
              <span aria-hidden="true" class="close">&times;</span>
          </button>
      </div>
  {% endfor %}

  {% for error in form.new_password2.errors %}
  <div class="toast alert">
      <div class="toast-body">
          <p><em>Message:</em> {{ error }}</p>
      </div>
      <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close" onclick="closeToast(this)">
          <span aria-hidden="true" class="close">&times;</span>
      </button>
  </div>
{% endfor %}


    <form method="POST">
        {% csrf_token %}
        <fieldset>
            <h3>Reset Password</h3>
    
            <label for="{{ form.new_password1.id_for_label }}">New Password:</label>
            <input type="password" name="{{ form.new_password1.name }}" id="{{ form.new_password1.id_for_label }}">



            <label for="{{ form.new_password2.id_for_label }}">Confirm New Password:</label>
            <input type="password" name="{{ form.new_password2.name }}" id="{{ form.new_password2.id_for_label }}">


        </fieldset>
        <button type="submit">Reset Password</button>
    </form>
    


<script src="/static/JS/toast.js"></script>    
</body>
</html>